[submodule "Photon/imu/Adafruit_BNO055"]
	path = Photon/lib/Adafruit_BNO055
	url = https://github.com/ghirlekar/Adafruit_BNO055.git
[submodule "Photon/imu/Adafruit_Sensor"]
	path = Photon/lib/Adafruit_Sensor
	url = https://github.com/ghirlekar/Adafruit_Sensor.git
[submodule "Photon/ir/SharpIR"]
	path = Photon/lib/SharpIR
	url = https://github.com/guillaume-rico/SharpIR.git
